<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ponfee.disjob.supervisor.dao.mapper.SchedUserGroupMapper">

  <sql id="Table_Name">sched_user_group</sql>

  <sql id="Base_Column_List">
    username, `group`
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.ponfee.disjob.core.model.SchedUserGroup" useGeneratedKeys="true">
    INSERT INTO <include refid="Table_Name" /> (
      username,
      `group`
    ) VALUES (
      #{username,jdbcType=VARCHAR},
      #{group,jdbcType=VARCHAR}
    )
  </insert>

  <select id="findAll" resultType="cn.ponfee.disjob.core.model.SchedUserGroup">
    SELECT <include refid="Base_Column_List"/>
    FROM <include refid="Table_Name" />
  </select>

  <delete id="deleteByGroup" parameterType="string">
    DELETE FROM <include refid="Table_Name" />
    WHERE `group` = #{group,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUsername" parameterType="string">
    DELETE FROM <include refid="Table_Name" />
    WHERE `username` = #{username,jdbcType=VARCHAR}
  </delete>

</mapper>
