<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ponfee.disjob.supervisor.dao.mapper.SchedInstanceMapper">

  <sql id="Base_Column_List">
    instance_id, rnstance_id, pnstance_id, wnstance_id, job_id,
    trigger_time, run_type, is_retrying AS retrying, run_status,
    run_start_time, run_end_time, retry_times, next_scan_time,
    workflow_cur_node, version
  </sql>

  <insert id="insertBatch" parameterType="collection" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO sched_instance (
      instance_id,
      rnstance_id,
      pnstance_id,
      wnstance_id,
      job_id,
      trigger_time,
      run_type,
      dedup_key,
      run_status,
      run_start_time,
      retry_times,
      workflow_cur_node
    ) VALUES
    <foreach collection="collection" item="item" separator=",">
    (
      #{item.instanceId,jdbcType=BIGINT},
      #{item.rnstanceId,jdbcType=BIGINT},
      #{item.pnstanceId,jdbcType=BIGINT},
      #{item.wnstanceId,jdbcType=BIGINT},
      #{item.jobId,jdbcType=BIGINT},
      #{item.triggerTime,jdbcType=BIGINT},
      #{item.runType,jdbcType=TINYINT},
      #{item.dedupKey,jdbcType=BIGINT},
      #{item.runStatus,jdbcType=TINYINT},
      #{item.runStartTime,jdbcType=TIMESTAMP},
      #{item.retryTimes,jdbcType=TINYINT},
      #{item.workflowCurNode,jdbcType=VARCHAR}
    )
    </foreach>
  </insert>

  <select id="get" parameterType="_long" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List" />
    FROM sched_instance
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
  </select>

  <select id="getJobId" parameterType="_long" resultType="long">
    SELECT job_id
    FROM sched_instance
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
  </select>

  <select id="getByDedupKey" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List"/>
    FROM sched_instance
    WHERE job_id = #{jobId,jdbcType=BIGINT}
      AND trigger_time = #{triggerTime,jdbcType=BIGINT}
      AND run_type = #{runType,jdbcType=TINYINT}
      AND dedup_key = #{dedupKey,jdbcType=BIGINT}
  </select>

  <select id="getWnstanceId" parameterType="_long" resultType="long">
    SELECT wnstance_id
    FROM sched_instance
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
  </select>

  <select id="findChildren" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List"/>
    FROM sched_instance
    WHERE pnstance_id = #{pnstanceId}
        <if test="runType != null">
          AND run_type = #{runType}
        </if>
  </select>

  <!-- use `IFNULL` function reason: possibly paused task re-execute -->
  <update id="start">
    UPDATE sched_instance
    SET run_status = 20,
        run_start_time = IFNULL(run_start_time, #{runStartTime,jdbcType=TIMESTAMP}),
        version = version+1
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
      AND run_status = 10
  </update>

  <!--
   SELECT ROUND(TIMESTAMPDIFF(MICROSECOND, '2000-01-01 00:00:00.987', '2000-01-01 00:00:00.999') / 1000)
   SELECT ROUND((UNIX_TIMESTAMP('2000-01-01 00:00:00.999') - UNIX_TIMESTAMP('2000-01-01 00:00:00.987')) * 1000)
  -->
  <update id="terminate">
    UPDATE sched_instance
    SET run_status = #{toStatus,jdbcType=TINYINT},
      <if test="runEndTime != null">
        run_end_time = IF(run_start_time IS NULL, NULL, #{runEndTime,jdbcType=TIMESTAMP}),
      </if>
        version = version+1
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
      AND run_status IN (<foreach collection="fromStatuses" separator="," item="status">#{status,jdbcType=TINYINT}</foreach>)
  </update>

  <update id="updateStatus">
    UPDATE sched_instance
    SET run_status = #{toStatus,jdbcType=TINYINT},
        version = version+1
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
      AND run_status = #{fromStatus,jdbcType=TINYINT}
  </update>

  <update id="updateRetrying">
    UPDATE sched_instance
    SET is_retrying = #{retrying,javaType=boolean,jdbcType=TINYINT},
        run_status = #{toStatus,jdbcType=TINYINT},
        version = version+1
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
      AND is_retrying = !#{retrying,javaType=boolean,jdbcType=TINYINT}
      AND run_status = #{fromStatus,jdbcType=TINYINT}
  </update>

  <select id="findExpireStatus" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List"/>
    FROM sched_instance
    WHERE run_status = #{runStatus,jdbcType=TINYINT}
      AND trigger_time &lt; #{expireTime.time,jdbcType=BIGINT}
      AND next_scan_time &lt; #{expireTime,jdbcType=TIMESTAMP}
      AND (wnstance_id IS NULL OR instance_id != wnstance_id)
    ORDER BY trigger_time
    LIMIT #{size}
  </select>

  <!-- 在同一个时间点，只会存在一个重试实例(没有加唯一索引限制，只能由代码逻辑来保证) -->
  <select id="getRetrying" parameterType="_long" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List"/>
    FROM sched_instance
    WHERE pnstance_id = #{instanceId,jdbcType=BIGINT}
      AND run_type = 3
      AND run_status &lt; 40
  </select>

  <select id="findRetry" parameterType="_long" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List"/>
    FROM sched_instance
    WHERE pnstance_id = #{instanceId,jdbcType=BIGINT}
      AND run_type = 3
  </select>

  <select id="findWorkflowNode" parameterType="_long" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List"/>
    FROM sched_instance
    WHERE wnstance_id = #{wnstanceId,jdbcType=BIGINT}
      AND wnstance_id != instance_id
  </select>

  <update id="updateNextScanTime">
    UPDATE sched_instance
    SET next_scan_time = #{nextScanTime,jdbcType=TIMESTAMP},
        version = version+1
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
      AND version = #{version,jdbcType=INTEGER}
  </update>

  <select id="lock" parameterType="_long" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List" />
    FROM sched_instance
    WHERE instance_id = #{instanceId,jdbcType=BIGINT}
    FOR UPDATE
  </select>

  <delete id="deleteByInstanceId" parameterType="_long">
    DELETE FROM sched_instance
    WHERE instance_id = #{instanceId,jdbcType=BIGINT} AND run_status >= 40
  </delete>

  <delete id="deleteByWnstanceId" parameterType="_long">
    DELETE FROM sched_instance
    WHERE wnstance_id = #{wnstanceId,jdbcType=BIGINT}
      AND (SELECT cnt FROM (SELECT COUNT(*) cnt FROM sched_instance WHERE wnstance_id = #{wnstanceId,jdbcType=BIGINT} AND run_status &lt; 40) t)=0
  </delete>

  <!-- ********************page query******************** -->

  <select id="queryPageCount" resultType="_long">
    SELECT COUNT(*) cnt
    FROM sched_instance
    <include refid="Page_Query_Where_Clause" />
  </select>

  <select id="queryPageRecords" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List" />
    FROM sched_instance
    <include refid="Page_Query_Where_Clause" />
    ORDER BY trigger_time DESC
    LIMIT #{offset}, #{pageSize}
  </select>

  <select id="queryByPnstanceId" parameterType="_long" resultType="cn.ponfee.disjob.supervisor.model.SchedInstance">
    SELECT <include refid="Base_Column_List" />
    FROM sched_instance
    WHERE pnstance_id = #{pnstanceId}
  </select>

  <select id="queryChildCount" parameterType="collection" resultType="map">
    SELECT pnstance_id AS pnstanceId, count(*) cnt
    FROM sched_instance
    WHERE pnstance_id IN (<foreach collection="collection" separator="," item="id">#{id,jdbcType=BIGINT}</foreach>)
    GROUP BY pnstance_id
  </select>

  <sql id="Page_Query_Where_Clause">
    <where>
      <if test="jobId != null">
        AND job_id = #{jobId}
      </if>
      <if test="instanceId != null">
        AND instance_id = #{instanceId}
      </if>
      <if test="tree and instanceId == null">
        AND rnstance_id IS NULL
      </if>
      <if test="runType != null">
        AND run_type = #{runType}
      </if>
      <if test="runStatus != null">
        AND run_status = #{runStatus}
      </if>
      <if test="startTime != null">
        AND trigger_time >= #{startTime.time,javaType=_long}
      </if>
      <if test="endTime != null">
        AND trigger_time &lt;= #{endTime.time,javaType=_long}
      </if>
    </where>
  </sql>

</mapper>
