<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ponfee.disjob.supervisor.dao.mapper.SchedGroupUserMapper">

  <sql id="Table_Name">sched_group_user</sql>

  <sql id="Base_Column_List">
    `group`, `user`
  </sql>

  <insert id="batchInsert" parameterType="collection" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO <include refid="Table_Name" /> (
      `group`,
      `user`
    ) VALUES
    <foreach collection="collection" item="item" separator=",">
    (
      #{item.group,jdbcType=VARCHAR},
      #{item.user,jdbcType=VARCHAR}
    )
    </foreach>
  </insert>

  <select id="findAll" resultType="cn.ponfee.disjob.core.model.SchedGroupUser">
    SELECT <include refid="Base_Column_List"/>
    FROM <include refid="Table_Name" />
  </select>

  <delete id="deleteByGroup" parameterType="string">
    DELETE FROM <include refid="Table_Name" />
    WHERE `group` = #{group,jdbcType=VARCHAR}
  </delete>

</mapper>
