<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('Supervisor')" />
</head>
<body class="gray-bg">
  <div class="container-div">
    <div class="row">
      <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table"></table>
      </div>
    </div>
  </div>

  <div th:include="include :: footer"></div>
  <script th:inline="javascript">
    $(function () {
      const options = {
        data: [[${list}]],
        sidePagination: "client",
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        columns: [{
          field: 'host',
          title: 'Host',
          align: 'center'
        },
        {
          field: 'port',
          title: 'Port',
          align: 'center'
        },
        {
          field: 'pingTime',
          title: 'Ping time(ms)',
          align: 'center'
        },
        {
          field: 'alsoWorker',
          title: '是否同为Worker',
          formatter: function(value, row, index) {
            return value ? '<span class="badge badge-success">是</span>' : '<span class="badge badge-info">否</span>';
          }
        },
        {
          field: 'startupAt',
          title: 'Supervisor启动时间'
        }]
      };

      $.table.init(options);
    });
  </script>

</body>
</html>
