<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="1800" strict="true" name="disjob-log">

  <properties>
    <property name="LOG_HOME">${sys:log.home:-../logs}</property>
    <property name="APP_NAME">${sys:app.name:-disjob-admin}</property>
    <property name="PATTERN_CONSOLE">%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight{%-5p} | %t | %c{1} >>>> %msg%n</property>
    <property name="PATTERN_FILE">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5p | %pid | %t | %c{1} : %msg%n</property>
  </properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN_CONSOLE}" />
    </Console>

    <!-- 输出到文件，按天或者超过100MB分割 -->
    <RollingFile name="RollingFile" fileName="${LOG_HOME}/${APP_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
      <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout pattern="${PATTERN_FILE}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 MB" />
      </Policies>
      <DefaultRolloverStrategy max="100" />
    </RollingFile>

    <Async name="AsyncRollingFile">
      <AppenderRef ref="RollingFile" />
      <LinkedTransferQueue />
    </Async>
  </Appenders>

  <Loggers>
    <Logger name="com.ruoyi" level="INFO" />
    <Logger name="cn.ponfee.disjob" level="INFO" />

    <Root level="WARN">
      <AppenderRef ref="Console" />
      <AppenderRef ref="AsyncRollingFile" />
    </Root>
  </Loggers>

</Configuration>
