<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('Worker')" />
  <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="gray-bg">
  <div class="container-div">
    <div class="row">
      <div th:if="${not #lists.isEmpty(workers)}" class="btn-group-sm" id="toolbar" role="group">
        <a class="btn btn-success" onclick="modifyAllWorkerMaximumPoolSize()">
          <i class="fa fa-edit"></i> 修改全部
        </a>
      </div>

      <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table"></table>
      </div>
    </div>
  </div>

  <div th:include="include :: footer"></div>
  <th:block th:include="include :: bootstrap-table-fixed-columns-js" />
  <th:block th:include="include :: bootstrap-table-editable-js" />

  <script th:inline="javascript">
    const prefix = ctx + "disjob/mygroup";

    $(function () {
      const options = {
        data: [[${workers}]],
        sidePagination: "client",
        showSearch: false,
        showRefresh: false,
        showToggle: true,
        showColumns: true,
        fixedColumns: true,
        fixedNumber: 3,
        onEditableSave: modifyOneWorkerMaximumPoolSize,
        columns: [{
          field: 'workerId',
          title: 'Worker Id'
        },
        {
          field: 'host',
          title: 'Host'
        },
        {
          field: 'port',
          title: 'Port'
        },
        {
          field: 'pingTime',
          title: 'Ping time(ms)'
        },
        {
          field: 'maximumPoolSize',
          title: '最大线程数',
          editable: {
            type: 'text',
            validate: validateMaximumPoolSize
          }
        },
        {
          field: 'currentPoolSize',
          title: '当前总线程数'
        },
        {
          field: 'activePoolSize',
          title: '活跃线程数'
        },
        {
          field: 'idlePoolSize',
          title: '空闲线程数'
        },
        {
          field: 'queueTaskCount',
          title: '队列等待任务数'
        },
        {
          field: 'completedTaskCount',
          title: '已执行完成任务数'
        },
        {
          field: 'closed',
          title: '线程池是否已关闭',
          formatter: function(value, row, index) {
            return value ? '<span class="badge badge-success">是</span>' : '<span class="badge badge-info">否</span>';
          }
        },
        {
          field: 'jvmThreadActiveCount',
          title: 'JVM活跃线程数'
        },
        {
          field: 'alsoSupervisor',
          title: '是否同为Supervisor',
          formatter: function(value, row, index) {
            return value ? '<span class="badge badge-success">是</span>' : '<span class="badge badge-info">否</span>';
          }
        },
        {
          field: 'startupAt',
          title: 'Worker启动时间'
        }]
      };

      $.table.init(options);
    });

    function modifyOneWorkerMaximumPoolSize(field, row, rowIndex, oldValue) {
      if (field !== "maximumPoolSize") {
        $.modal.msgError("只能更新['maximumPoolSize']字段");
        return;
      }
      const newValue = parseInt($.trim(row[field]));
      if (oldValue === newValue) {
        // reset to oldValue(none left or right blank)
        row[field] = oldValue;
        return;
      }
      const params = {
        "group": [[${group}]],
        "workerId": row.workerId,
        "host": row.host,
        "port": row['port'],
        "action": "MODIFY_MAXIMUM_POOL_SIZE",
        "data": newValue
      };
      $.operate.post(prefix + "/configure_one_worker", params, function (result) {
        row[field] = (result.code === 0) ? newValue : oldValue;
      }, false);
    }

    function modifyAllWorkerMaximumPoolSize() {
      layer.open({
        type: 1,
        title: '修改全部Worker的最大线程数',
        btn: ['确定', '取消'],
        content: '<input type="text" class="layui-layer-input" placeholder="请输入要修改的最大线程数目标值">',
        skin: 'layui-layer-prompt',
        resize: false,
        success: function (layero, index) {
          layero.find('.layui-layer-input').focus();
        },
        yes: function (index, layero) {
          const input = layero.find('.layui-layer-input');
          const value = input.val();
          const msg = validateMaximumPoolSize(value);
          if (msg) {
            layer.tips(msg, input, {tips: 1});
            return;
          }
          const params = {
            "group": [[${group}]],
            "action": "MODIFY_MAXIMUM_POOL_SIZE",
            "data": value
          };
          $.operate.post(prefix + "/configure_all_worker", params, function (result) {
            if (result.code === 0) {
              /*
              const src = prefix + "/worker?group=" + [[${group}]];
              const iframe = $(window.parent.document).find("iframe[src='" + src + "']");
              iframe.attr("src", src);
              */
              location.reload();
              layer.close(index);
            }
          }, false);
        }
      });
    }

    function validateMaximumPoolSize(value) {
      if (!value || !value.trim()) {
        return '不能为空';
      }
      if (!/^[1-9]\d*$/g.test(value.trim())) {
        return '请输入正整数';
      }
      if (parseInt(value) > 32767) {
        return '不能大于 32767';
      }
    }
  </script>

</body>
</html>
